<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testpkg.sample1"/>
      <class name="testpkg.sample2"/>
      <class name="LoanApplications.CarLoanApplicationTests"/>
      <class name="LoanApplications.HomeLoanApplicationTests"/>
      <class name="LoanApplications.PersonalLoanApplicationTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
